<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>WhereAmazingHappens-forget password</title>
		<link rel="stylesheet" type="text/css" href="css/main.css">
		<link rel="stylesheet" type="text/css" href="css/materialize.css">
	</head>
	<body>
		<h1>Where Amazing Happens</h1>
		<form class="sign-in-form" action="login.html" method="post">
			<input type="text" id="email" class="form-control" placeholder="Enter Username:">
			<br>
			<button class="btn waves-effect waves-light" type="submit">
			    Send Email
			</button>
		</form>
	</body>
</html>