<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>{% block title %}WhereAmazingHappen-Home{% endblock %}</title>
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'wah/css/main.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'wah/css/materialize.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'wah/css/jquery-ui.css' %}">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

        {% load static %}
		<script type="text/javascript" src="{% static 'wah/js/jquery-3.1.1.js' %}"></script>
		<script type="text/javascript" src="{% static 'wah/js/materialize.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'wah/js/homepage.js' %}"></script>

        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        {% block addtional_js %}{% endblock %}

        <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

        <script>window.twttr = (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0],
                    t = window.twttr || {};
                    if (d.getElementById(id)) return t;
            js = d.createElement(s);
            js.id = id;
            js.src = "https://platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js, fjs);
            t._e = [];
            t.ready = function(f) {
                t._e.push(f);
            };
            return t;
        }(document, "script", "twitter-wjs"));</script>

	</head>

	<body class="inside-body">
		<div id='nav'>
		{% block nav %}{% endblock %}
		</div>
		<div id='content'>
		{% block content %}{% endblock %}
		</div>
	</body>
</html> 